<!DOCTYPE html> 
<html>
	
        <head>{{title}} - Page </head>
<body>
	<h3>Welcome to battleships!!</h3>
	<p>An enemy ship has been spotted on the south coast of Miami beach.</p>
	<p>Unfortunatly they are using an advance camouflage system and we cannot pinpoint their location.</p>
	<p>Our only option now is to shoot randomly and pray that we hit them!</p>
	<p>When ready press the fire button!</p>
	<form action="{{ url_for('home') }}">
        <button type="submit">FIRE</button>
	<h1>{{output}}</h1>
    
</body>
</html>

